body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.common-form {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px
}